
        footer {
            background-color: rgba(128, 128, 128, .3);
            display: flex;
            justify-content: left;
            align-items: baseline;
            margin-top: 30%;
        }

        .footer {
            height: 50px;
            border-right: 1px solid black;
            margin: 5px;
            padding-right: 5px;
            align-items: first baseline;
            text-decoration: none;
        }