header {

    width: 40%;
    height: 30px;
    background-color: rgba(78, 18, 135,.5);
    display: block;
}

.navs a {
    text-decoration: none;
    color: orange;
}
 
.navs {
    padding-left: 10px;
    border-right: 2px solid black;
    list-style: none;
    display: inline-block;
    width: 100px;
    margin-top: 6px;
    background-color: brown;
}
.navs:hover {
    
    border-right: 2px solid black;
    list-style: none;
    display: inline-block;
    width: 100px;
    margin-top: 6px;
    background-color: rgb(165, 108, 42);
}